flows.json
[{"id":"c70eb18d.1ce25","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"75b27660.61aab","type":"debug","z":"c70eb18d.1ce25","name":"Data","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","x":1040,"y":420,"wires":[]},{"id":"58233e89.7dec6","type":"inject","z":"c70eb18d.1ce25","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":320,"y":420,"wires":[["752b9aec.1f7734"]]},{"id":"752b9aec.1f7734","type":"exec","z":"c70eb18d.1ce25","command":"python","addpay":false,"append":" -u ~/Documents/Wind/tide_average.py","useSpawn":"false","timer":"","oldrc":false,"name":"","x":590,"y":420,"wires":[["75b27660.61aab"],["75b27660.61aab"],[]]}]